/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/jun/2017, 2:27:47
    Author     : Joao Saraiva
*/

.footer1 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 5px;
  background-color: #efefef;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 11px;
  border-radius: 25px;
  
}